extends layout

block content
  h2(id="newtitle")= title

  if (toShow == null)
    h3 No instance to delete

  - let compartmentid = toShow._id
  - let compartmentname = toShow.compartment_name
  - let compartmentID1  = toShow.compartment_ID
  - let compartmenttype = toShow.compartment_type

  div
    div.row
      div(class='compartmentAttr mr-3') compartment ID is:
      div #{compartmentid}
    div.row
      div(class='compartmentAttr mr-3') compartment name is:
      div #{compartmentname}
    div.row
      div(class='compartmentAttr mr-3') compartment ID1 is:
      div #{compartmentID1}
    div.row
      div(class='compartmentAttr mr-3') compartment type is:
      div #{compartmenttype}