extends layout

block content
 h1= title
 div(class="container-fluid")
        div(class="row")
            -
                let compartment = results;
                   
            each list,index in compartment
                div(class="col-sm-2" onclick=`buy(${index})`) #{list.compartment_name}
                div(class="col-sm-2" onclick=`buy(${index})`) #{list.compartment_ID}
                div(class="col-sm-2" onclick=`buy(${index})`) #{list.compartment_type}

        script.
     
         function buy(itemNo)
         {
         alert(`You purchased Item ${itemNo+1}`)
         }