extends layout

block content
  h1= title
  - let compartment=results;
  div(class="container-fluid mt-3")
   div(class="row m-1")
    each form in compartment
     - let destination=`buy(\"/compartment/update?id=${form._id}\")`
     div(class="col-sm-6 bg-warning m-1 p-3") compartment #{form.compartment_name} - #{form.compartment_ID} - #{form.compartment_type}
      button.btn( class="btn-primary ml-2", onclick=destination ) Update
  
   script.
    function buy(path){
        window.location.href=path

        //alert(`You purchased Item ${a+1}`)
      }